<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <main class="obras">

        <section class="galeria">
          
          <h2>Obras Realizadas</h2>

          <% obras.forEach(obra=> { %>
            <article class="item">
              <figure>
                <img src="/images/durlock/<%- obra.imagen %>" alt="">
              </figure>
              <div class="descripcion">
                <h2><%- obra.titulo %></h2>
                <p><%-obra.descripcion %></p>
              </div>

              <button class="vermas"><a target="_blank" href="<%- obra.button %>">VER MÁS</a></button>
            </article>
            <% }) %>



        </section>

      </main>

      <%- include('./partials/footer') %>

  </body>

</html>